html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --dark-blue: rgb(0, 0, 143);
    --medium-blue: rgb(63, 63, 224);
    --light-blue: rgb(81, 136, 255);
    --background-grey: rgb(243, 243, 243);
    --pink: rgb(255, 132, 153);
}
body {
    margin: 0px;
    background-color: var(--background-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--dark-blue);
}

nav {
    background-color: var(--medium-blue);
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 10;
    position: static;
    color: white;
}
section {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bottom-left-button, .bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--pink);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    z-index: 10;
}
.bottom-left-button {
    left: 20px;
}